doctype html

mixin icon(name)
  svg.icon(class=name)
    use(xlink:href=`./icons.svg#${name}`)

mixin iconLink(name, link)
  a(href=link)
    svg.icon.link(class=name)
      use(xlink:href=`./icons.svg#${name}`)

html(lang='en')
  head
    title Herp Project
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    link(rel='stylesheet' href='./styles/body.css')
    link(rel='stylesheet' href='./styles/icons.css')

    script(src='./bundle.js')

  body
    .header
      p.hpj Herp Project
    .links
      +iconLink('discord', 'https://discord.gg/8SQsRxD')
      +iconLink('gitlab', 'https://gitlab.com/hpj')
      +iconLink('patreon', 'https://www.patreon.com/hpj')
      +iconLink('teespring', 'https://teespring.com/stores/hpj')
      +iconLink('twitch', 'https://www.twitch.tv/herpproject')
      +iconLink('twitter', 'https://www.twitter.com/herpproject')
      +iconLink('youtube', 'https://youtube.com/channel/UCb5CUVUiD04nNluXVkmF6Pg')
    .timeline
      .timelineItemIcon
        .box
          +icon('hpj')
      .timelineItemText
        .separator
          .timelineItemTitle Founded July 2015
          .timelineItemDescription by Kerolos Zaki

      .timelineItemIcon
        .circle
          +iconLink('gitlab', 'https://gitlab.com/hpj/Dawayer')
      .timelineItemText
        .separator
          .timelineItemTitle Released March 2019
          .timelineItemDescription Dawayer

      .timelineItemIcon
        .circle
          +iconLink('gitlab', 'https://gitlab.com/hpj/Sulaiman')
      .timelineItemText
        .separator
          .timelineItemTitle Released May 2019
          .timelineItemDescription Sulaiman

      .timelineItemIcon
        .circle
          +icon('webtoon')
      .timelineItemText
        .separator
          .timelineItemTitle Coming Soon(ish)
          .timelineItemDescription The Story So Far

      .timelineItemIcon
        .circle
          +icon('gitlab')
      .timelineItemText
        .separator
          .timelineItemTitle Somewhere in 2020...
          .timelineItemTitle Probably...
          .timelineItemDescription Fabric
