doctype html

mixin icon(name)
  svg.icon(class=name)
    use(xlink:href=`/icons.svg#${name}`)

mixin iconLink(name, link)
  a(href=link)
    svg.icon.link(class=name)
      use(xlink:href=`/icons.svg#${name}`)

html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      //- link(rel='shortcut icon' href='/favicon.ico')

  body
    block content
      .header.container
        .header.title HP.J
        a.header.item(href='/') Projects
        a.header.item(href='/about') About
      .links.container
        +iconLink('github', 'https://github.com/hpj')
        +iconLink('twitter', 'https://www.twitter.com/herpproject')
        +iconLink('discord', '/discord')
        +iconLink('youtube', 'https://youtube.com/channel/UCb5CUVUiD04nNluXVkmF6Pg')
        //- +iconLink('facebook', 'https://www.facebook.com/herpproject')
        //- +iconLink('twitch', 'https://www.twitch.tv/herpproject')
